* {
  margin : 0 ;
  padding : 0 ; 
}

.container {
  width : 1394px ; 
  margin : 0px auto ; 
}

body {
  font-family : "Raleway", "sans-serif" ; 
  color : #000000 ;
  background-color : #ffffff ;
  font-size : 20px;
  font-weight : normal ;
}

h1 {
  font-size : 22px ;
  font-weight : bold ;
}

h2 {
  font-size : 20px ; 
  font-weight : bold ;
}

h3 {
  font-size : 17px ; 
  font-weight : bold ;
}

p {
  font-size : 17px ;
  font-weight : normal ;
}

i { /*icones*/
  color : #0065FC ;
  padding-left : 5px ; 
  display : flex ; 
  justify-content: flex-start ;
}

a {
  color : black ;
  text-decoration : none ; 
}

a:hover {
  color : #0065FC ; 
}

/*header*/ 

header {
  display : flex ;
  flex-wrap : nowrap ;
  justify-content : space-between ;
}

header img {
  width : 10% ;
  margin-left : 10px ;
}

nav {
  width : 40% ; 
  display : flex ; 
  justify-content : flex-end ; 
}

.nav_links {
  display : flex ;
  flex-direction : row ; 
  justify-content : space-between ; 
  font-size : 20px ; 
  list-style-type : none ; 
  width : 70% ;
}

.nav_hebergements, .nav_activites {
  width : 45% ; 
  text-align : center ; 
  border-top : 3px solid #ffffff ; 
  padding-top : 10% ; 
}

.nav_hebergements:hover, .nav_activites:hover {
  cursor : pointer ;
  border-top : 3px solid #0065FC ;
  padding-top : 10% ;
}

/*rechercher*/
#titres_recherche {
  margin-left : 1% ;
}

#search {
  font-size : 17px ;
  font-weight : bold ; 
  border : #f2f2f2 ; 
  margin : 20px 0px ; 
  padding : 10px 0px 0px 10px ; 
}

.rechercher {
  font-size : 17px ;
  font-weight : bold ;
  border-radius : 0px 15px 15px 0px ;
  color : #ffffff ;
  background-color : #0065FC ; 
  border : solid 2px #f2f2f2 ; 
  padding : 10px 15px ; 
  cursor : pointer ;
  text-align : center ;
}

.rechercher:hover {
  color : #0065FC ;
  background : #ffffff ;
}

.fa-map-marker-alt {
  color : #000000 ;
  background-color : #f2f2f2 ; 
  border-radius : 10px 0px 0px 15px ; 
  padding : 10px ;
}

.rechercher_icone {
  display : none ; 
}

.fa-search {
  font-size : 17px ; 
  color : #ffffff ; 
  background-color : #0065FC ; 
  padding : 15px ;
  border-radius : 20px ;  
}

/*filtres*/

#filtres {
  font-size : 15px ; 
  display : flex ;
  flex-direction : column ;   
  margin : 2% 1% ;
}

.filtre_general {
  width : 100% ;
  font-weight : bold ; 
  display : flex ;
  flex-direction : row ; 
  align-items : center ; 
}

.filtre_liste {
  width : 70% ; 
  font-weight : bold ; 
  display : flex ; 
  justify-content : space-around ; 
}

.filtre { 
  border : solid 2px ;
  border-color : #d7d7d7 ;
  border-radius : 30px ; 
  padding-right : 15px ;
  cursor : pointer ; 
}

.filtre:hover {
  color : #0065FC ; 
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px ;
  box-shadow: 0 5px 20px #aca9a9, 0 5px 10px #aca9a9;
}

.filtre_liste i  {
  width : 20px ; 
  color : #0065FC ; 
  font-size : 17px ; 
  background-color : #DEEBFF ; 
  border-radius: 30px ;   
  margin-right : 10px ; 
  margin-left : -3px ;  
}

.fa-money-bill-wave, .fa-heart, .fa-dog {
  padding : 17px ;
}

.fa-child {
  padding : 17px 14px 17px 20px ; 
}

.info {
  font-size : 15px ; 
  display : flex ;
  align-items : center ;
  margin : 20px 0px ;
}

.fa-info { /*icone information*/
  font-size : 7px ; 
  color : #0065FC ; 
  font-weight : bold ; 
  border : solid 1px #d7d7d7 ;
  border-radius : 100% ;
  padding : 7px ; 
  margin : 10px 10px 10px 0px ; 
}

/* main*/ 

#hebergements_populaires { /* hebergements et populaires */
  display : flex ;
  flex-direction : row ;
  flex-wrap : nowrap ;
  justify-content : center ; 
  padding : 0px auto ;
}

#hebergements { 
  background-color : #f2f2f2 ; 
  display : flex ; 
  flex-direction : column ; 
  flex-wrap : wrap ; 
  width : 70% ;
  border-radius : 20px ;
  margin : 0% 1% ; 
  padding : 20px ; 
}

#hebergements h2 {
  margin : 1% ;
}

#populaires { 
  background-color : #f2f2f2 ;
  display : flex ; 
  flex-direction : row ; 
  flex-wrap : wrap ; 
  width : 30% ;
  border-radius : 20px ;    
  padding : 2% ; 
}

.populaires_titre {
  width : 100% ; 
  display : flex ; 
  flex-direction : row ; 
  align-items : flex-start ;
  justify-content : space-between ; 
}

.fa-chart-line {
  color : #000000 ;
}

/*carte hebergements*/
#hotel_liste {
  display : flex  ; 
  flex-direction : row ; 
  flex-wrap : wrap ; 
}

.hotel {
  display : flex ;
  flex-wrap : wrap ; 
  flex-direction : column ; 
  width : 31% ; 
  height : 200px ;
  margin : 10px auto ;
  border-radius : 20px ;
  padding : 5px ; 
  background : #ffffff ;
}

.hotel_image {
  object-fit: cover ;
  width : 100% ;
  height : 130px;    
  border-radius : 20px 20px 0px 0px;
}

.hotel_informations {
  display : flex ; 
  flex-direction: column ; 
  line-height : 22px ; 
}

.afficher_plus {
  font-size : 15px ; 
  font-weight : bold ; 
  display : flex ; 
  flex-direction : row ; 
  flex-wrap : nowrap ; 
  width : 100% ;
}

.afficher_plus:hover {
  color : #0065FC ;
  text-decoration : none ; 
}

/*carte populaires*/
.populaires {
  background-color: #ffffff;
  width : 100% ; 
  height : 130px ;
  margin : 10px auto ;
  border-radius : 20px ;
  padding : 5px ; 
}

.populaires_image {
  object-fit: cover ;
  width : 110px ;
  height : 130px;    
  border-radius : 20px 0px 0px 20px;
}

.populaires_informations {
  position : absolute ;
  display : inline-flex ; 
  flex-direction: column ; 
  justify-content : space-between ; 
  flex-wrap : nowrap ; 
  margin-left : 1% ; 
  width : 12% ; 
  height : 130px ;
  line-height : 10px ;
}

/*mise en page cartes hebergements et populaires*/
.populaires_nom_prix {
  display : flex ;
  flex-direction : column ; 
  align-content : flex-start ;
  align-items : flex-start ; 
  flex-wrap : nowrap ;
  width : 100% ; 
  line-height : 25px ; 
}

.populaires_nom {
  display : flex ; 
  flex-wrap : wrap ; 
  line-height : 25px ; 
}

.hotel_prix, .populaires_prix {
  font-size : 14px ; 
}

/*etoiles hebergements et poopulaires*/
i.disabled {
  color : #d9d9d9 ; 
}

.hotel_etoiles, .populaires_etoiles {
  letter-spacing : -4px ;
  font-size : 13px ; 
}

.populaires_etoiles {
  display : flex ; 
  justify-content : flex-start ; 
  margin-bottom : 1% ; 
}

/*activites*/
#activites { 
  display : flex ; 
  flex-direction : column ; 
  flex-wrap : wrap ; 
  margin : 2% 0% ; 
}

#activites h2 {
  margin-left : 1% ; 
}

#activites_liste {
  width : 100% ; 
  display : flex ; 
  flex-direction : row ;
  padding : 10px 0px 0px 4px ; 
}

.activites_nom {
  font-size : 15px ; 
  font-weight : bold ; 
  line-height : normal ; 
  padding : 2% ;
}

/*cartes activites*/
#vieux_port, #parc_calanques {
  position : relative ;
  display : flex ;
  flex-wrap : wrap ; 
  flex-direction : column ; 
  width : 24% ; 
  height : 420px ;
  margin : 0px auto ;
  border-radius : 20px ;
  line-height : 28px ;
  box-shadow : 1px 1px 20px #aca9a9 ;
}

#activite1, #activite4 { /*images Vieux Port et Parc des Calanques*/
  object-fit: cover ;
  width : 100% ;
  height : 370px ;    
  border-radius : 20px 20px 0px 0px;
}

.ensemble { 
  display : flex ;
  flex-wrap : nowrap ; 
  flex-direction : column ; 
  justify-content : space-between ; 
  width : 24% ; 
  height : 420px ;
  margin : 0px auto ;
  border-radius : 20px ;
  line-height : 28px ;
}

#fort_pomegues {
  position : relative ;
  display : flex ;
  flex-wrap : wrap ; 
  flex-direction : column ; 
  width : 100% ; 
  height : 57% ;
  border-radius : 20px ;
  line-height : 28px ;
  box-shadow : 1px 1px 20px #aca9a9 ;
}

#activite2 { /* image Fort Pomegues */
  object-fit: cover ;
  width : 100% ; 
  height : 190px ;    
  border-radius : 20px 20px 0px 0px;  
}

#iles_frioul {
  position : relative ;
  display : flex ;
  flex-wrap : wrap ; 
  flex-direction : column ; 
  width : 100% ; 
  height : 33% ;
  border-radius : 20px ;
  line-height : 28px ;
  box-shadow : 1px 1px 20px #aca9a9 ;
}

#activite3 { /* image Iles de Frioul */
  object-fit: cover ;    
  width : 100% ; 
  height : 90px ;
  border-radius : 20px 20px 0px 0px;
}

#dame_garde, #parc_longchamp {
  position : relative ;
  display : flex ;
  flex-wrap : wrap ; 
  flex-direction : column ; 
  width : 100% ; 
  height : 45% ;
  border-radius : 20px ;
  line-height : 28px ;
  box-shadow : 1px 1px 20px #aca9a9 ;
}

#activite5, #activite6 { /* images Notre Dame de la Garde et Parc Longchamps*/
  object-fit: cover ;
  width : 100% ; 
  height : 140px ;    
  border-radius : 20px 20px 0px 0px;
}

/*style main hover*/
.hotel:hover, .populaires:hover, #vieux_port:hover, #fort_pomegues:hover, #iles_frioul:hover, #parc_calanques:hover, #dame_garde:hover, #parc_longchamp:hover {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 14px 28px #aca9a9, 0 10px 10px #aca9a9;
}

/* footer */
footer {
  background-color : #f2f2f2 ;
  width : 100% ;
  padding : 0px ; 
}

footer .container {
  display : flex ; 
  flex-direction : row ;
  justify-content : space-between ; 
}

footer .container div {
  width : 33% ;
  margin-left : 11px ; 
  padding-top : 30px ; 
}

h5 {
  font-family : 19px ;
  font-weight : bold ;
  margin-bottom : 10px ; 
}

.footer_liste {  
  font-size : 17px ; 
  list-style-type: none;
  display : flex ; 
  flex-direction : column ;
  justify-content : flex-start ; 
  cursor : pointer ;
  line-height : 35px ; 
  padding-left : 0px ;
}


/* 768px et 992px tablette */
@media screen and (max-width: 992px) 
{
  .container {
    width : 100% ;
    margin : 0 ; 
    padding : 0 ;
  }

  header {
    flex-direction : column ;
    flex-wrap : nowrap ;
    margin : 0 ;
    padding : 0 ;
  }

  header img {
    width : 20% ;
    margin : 0% 35% ;  
  }
  
  nav {
    justify-content : center ; 
    width : 100% ; 
    margin : 0 ;
    padding : 0 ;
  }

  .nav_links {
    width : 50% ;
    margin : 0 ; 
    padding : 0 ;
  }

  .nav_hebergements, .nav_activites {
    width : 100% ; 
    margin  : 0 ;
    border-bottom : solid 3px #ffffff ;
    padding : 0px 0px 10px 0px ; 
    border-top : #ffffff ; 
  }

  .nav_hebergements:hover, .nav_activites:hover {
    border-bottom : solid 3px #0065FC; 
    padding : 0px 0px 10px 0px ; 
    border-top : #ffffff ; 
  }

  #titres_recherche {
    margin : 0% 0% 0% 2% ; 
    padding : 0 ;
  }

  #filtres {
    flex-direction : column ; 
    align-items : flex-start ; 
    margin : 0% 0% 0% 2% ; 
    padding : 0 ; 
  }
  
  .filtre_general {
    flex-direction : column ; 
    flex-wrap : wrap ; 
    align-items : flex-start ; 
  }
  
  .filtre_liste {
    flex-wrap : wrap ; 
    flex-direction : row ; 
    justify-content : flex-start ; 
    width : 100% ; 
    margin : 0 ;
    padding : 0 ; 
  }

  .filtre {
    margin : 10px 20px 10px 0px; 
  }

  #hebergements_populaires { /* hebergements et populaires */
    flex-direction : column ;
    align-items : center ; 
  }

  #hebergements { 
    order : 2 ;
    width : 98% ; 
    margin : 10px 0px ; 
    flex-direction : column ; 
    flex-wrap : wrap ;
    align-content : flex-start ;
    padding : 0 ; 
  }

  .hotel_liste {
    display : flex ; 
    flex-direction : row ; 
    justify-content : center ; 
  }

  .hotel {
    width : 47% ; 
    height : 205px ;
    box-shadow : 1px 1px 20px #aca9a9 ;
  }
  
  .hotel_informations {
    line-height : 25px ; 
  }

  .afficher_plus {
    width : 30% ; 
    margin : 0% 45% ; 
  }

  #populaires { 
    order : 1 ;
    width : 98% ;
    margin : 0 ; 
    padding : 0 ;
  }

  .populaires_titre {
    margin : 0% 1.5% ;
  }

  .fa-chart-line {
    margin-bottom : 15px ; 
    margin-top : 1px ; 
  }
  
  .populaires {
    width : 47% ;
  }

  .populaires_informations {
    width : 27% ; 
  }

  #activites { 
    flex-direction : column ; 
    flex-wrap : wrap ; 
    align-items : flex-start ; 
    border-radius : 0px ; 
    width : 99% ;
    margin : 0 ; 
    padding : 0 ;
  }
  
  #activites h2 {
    margin : 10px 40px ;
  }

  #activites_liste {
    flex-direction : row ; 
    flex-wrap : wrap ;
    width : 100% ; 
    align-content : flex-start ;
    justify-content : space-around ; 
    padding : 0px ;
  }

  .ensemble {
    width : 47% ; 
    height : 440px ;
    align-items : center ; 
    align-content : space-between ; 
    margin : auto ; 
  }

  #vieux_port, #parc_calanques {
    width : 47% ;
    height : 420px ; 
    margin-bottom : 20px ; 
  }

  #fort_pomegues, #iles_frioul, #dame_garde, #parc_longchamp {
    width : 100% ; 
    height : 215px ;
    margin-bottom : 20px ; 
  }

  #activite1, #activite4 {
    width : 100% ; 
    height : 370px ; 
  }
  
  #activite2, #activite3, #activite5, #activite6 {
    width : 100% ;
    height : 150px; 
  }
  
  /*footer*/
  footer {
    width : 100% ; 
    margin : 0 ; 
    padding : 0 ;
  }

  footer .container {
    width : 96% ; 
    flex-direction : column ;
  }

  footer .container div {
    width : 90% ; 
  }

  h5 {
    font-size : 20px ; 
    line-height : 7px ; 
  }
   
}


/* moins de 768px mobile */
@media screen and (max-width:768px) 
{
  .container {
    width : 100% ;
    margin : 0 auto ; 
    overflow-x : hidden; 
  }

  body { 
    width : auto ;
  }

  header {
    flex-direction : column ;
    flex-wrap : nowrap ;
  }

  header img {
    width : 30% ;
    margin : 0% 30% ;  
  }
  
  nav {
    justify-content : center ; 
    width : 100% ; 
    margin : 0 ;
  }

  .nav_links {
    width : 100% ;
    margin : 0 ; 
  }

  .nav_hebergements, .nav_activites {
    width : 100% ; 
    margin-top : 6% ;
    border-bottom : solid 3px #f6f6f6 ;
    padding-bottom : 10px ; 
    border-top : #ffffff ; 
  }

  .nav_hebergements {
    display : flex ; 
    justify-content : flex-end ; 
    margin-right : 0 ; 
    padding-right : 5% ;
  }

  .nav_hebergements:hover {
    color : #0065FC ; 
    border-bottom : solid 3px #0065FC; 
    padding-bottom : 10px ; 
    border-top : #ffffff ;  
    margin-right : 0 ;
    padding-right : 5% ; 
  }

  .nav_activites {
    display : flex ;
    justify-content : flex-start ; 
    margin-left : 0 ; 
    padding-left : 5% ;
  }
  .nav_activites:hover {
    color : #0065FC ; 
    border-bottom : solid 3px #0065FC; 
    padding-bottom : 10px ; 
    border-top : #ffffff ;  
    margin-left : 0 ; 
    padding-left : 5% ;
  }
  
  #titres_recherche, #filtres {
    margin : 0% 10% ;
  }

  #search {
    width : 70% ; 
  }

  .rechercher {
    display : none ;
  }

  .rechercher_icone {
    display : contents ; 
  }

  .fa-search:hover {
    color : #0065FC ; 
    background-color : #ffffff ;
    margin : -3px ; 
  }

  #filtres {
    flex-direction : column ; 
    align-items : flex-start ; 
    margin : 0% 10% ; 
  }
  
  .filtre_general {
    flex-direction : column ; 
    flex-wrap : wrap ; 
    align-items : flex-start ; 
  }
  
  .filtre_liste {
    width : 100% ; 
    flex-wrap : wrap ; 
    flex-direction : row ; 
    justify-content : flex-start ; 
  }

  .filtre {
    margin : 10px 20px 10px 0px; 
  }

  .fa-info {
    margin : 0px 7px 17px 0px ; 
  }
    
  #hebergements_populaires { /* hebergements et populaires */
    flex-direction : column ;
  }
      
  #hebergements { 
    order : 2 ;
    width : 100% ; 
    flex-direction : column ; 
    flex-wrap : nowrap ; 
    align-self : center ; 
    border-radius : 0px ; 
    background-color : #ffffff ; 
    margin : 20px 0px ; 
    padding : 10px 0px
  }
  
  #hebergements h2 {
    margin : 0% 0% 0% 10% ; 
  }

  .hotel {
    width : 80% ; 
    height : 40% ;
    box-shadow : 1px 1px 20px #aca9a9 ;
  }
        
  .hotel_image {
    width : 97% ;
    height : 120px ;       
    padding : 5px ; 
  }

  .afficher_plus {
    margin : 3% 0% 0% 10% ;
  }
   
  #populaires { 
    order : 1 ; 
    align-self : center ; 
    width : 100% ;
    border-radius : 0px ; 
    margin : 0px ; 
    padding : 0px 15px 10px 15px ; 
  }

  #populaires h2 {
    margin : 0px ; 
  }

  .populaires_titre {
    margin : 5% 10% ;
  }

  .populaires {
    width : 80% ; 
  }

  .populaires_nom {
    margin : 10px 10px 0px 0px ; 
  }

  .fa-chart-line {
    margin-top : 2px ; 
    margin-left : 10px ;
  }

  .populaires_informations {
    width : 40% ; 
  }

  .populaires_etoiles, .hotel_etoiles {
    margin-bottom : 3px ; 
  }

  #activites { 
    flex-direction : column ; 
    justify-content : flex-start ; 
    flex-wrap : nowrap ; 
    border-radius : 0px ; 
    margin : 10px auto; 
    width : 80% ;
  }

  #activites h2 {
    margin : 0px 0px 15px 0px ;
  }
  
  #activites_liste {
    flex-direction : column ; 
    justify-content : center ;
    padding-left : 0px ; 
  }

  .ensemble {
    width : 100% ; 
    height : 80% ;
  }

  #vieux_port, #fort_pomegues, #iles_frioul, #parc_calanques, #dame_garde, #parc_longchamp {
    width : 100% ; 
    height : 210px ;
    margin-bottom : 20px ; 
  }

  #activite1, #activite2, #activite3, #activite4, #activite5, #activite6 {
    width : 100% ;
    height : 150px; 
    margin-bottom : 10px ;   
  }
  
  /*footer*/
  footer {
    width : 100% ; 
  }

  footer .container {
    width : 96% ;
    flex-direction : column ;
    padding : 0 ; 
  }

  footer .container div {
    width : 90% ; 
    margin-left : 7.5% ; 
  }

  h5 {
    margin-bottom : 20px ; 
    line-height : 7px ; 
  }
  
}